<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Chat Application</title>
</head>
<body>
<form action="#" th:object="${chatForm}" method="POST" th:action="@{'/chat'}">

    <label for="messageText" >Message Text:</label>
    <input id="messageText" type="text" th:field="*{messageText}"  name="messageText"  ><br>
    <label for="messageType">Message Type: </label>
    <select  th:field="*{messageType}" id="messageType"  style="background-color: black; color: silver">
        <option
                th:each="type : ${allMessageTypes}"
                th:value="${type}"
                th:text="${type}"
        >
            Say
        </option>
    </select>
    <input type="submit">
    </form>
<a th:href="@{/login}">
    <button >
        Click Here to logout
    </button>
</a>
<div th:each="chatMessage : ${chatMessages}">
    <span style="color: blue" th:text="${chatMessage.username}">
        Username</span>: <span style="color: red" th:text="${chatMessage.message}">Hello, world!</span>
</div>
</body>
</html>